In [3]:
a = 10
b= 20

In [4]:
a,b = 1,2

In [5]:
a,b

(1, 2)

In [6]:
a = 1,2
type(a)

tuple

In [7]:
a = [1]
type(a)

list

In [8]:
a = (1)
type(a)

int

In [11]:
a = (1,)

In [12]:
type(a)

tuple

In [3]:
l =[1,2,3]

# create a tuple of numbers
py_tuple = (33, 55, 77)
print("A tuple of numbers:", py_tuple)

# create a tuple of mixed numbers
# such as integer, float, imaginary
py_tuple = (33, 3.3, 3+3j)
print("A tuple of mixed numbers:", py_tuple)

# create a tuple of mixed data types
# such as numbers, strings, lists
py_tuple = (33, "33", [3, 3])
print("A tuple of mixed data types:", py_tuple)

# create a tuple of tuples
# i.e. a nested tuple
py_tuple = (('x', 'y', 'z'), ('X', 'Y', 'Z'))
print("A tuple of tuples:", py_tuple)
print(len(py_tuple))
py_tuple1 = ('x', 'y', 'z', ('X', 'Y', 'Z'))
print(len(py_tuple1))

A tuple of numbers: (33, 55, 77)
A tuple of mixed numbers: (33, 3.3, (3+3j))
A tuple of mixed data types: (33, '33', [3, 3])
A tuple of tuples: (('x', 'y', 'z'), ('X', 'Y', 'Z'))
2
4

In [13]:
# empty tuple
tup1 = ()
tup1

# a tuple with single data item
tup2 = (99,)
tup2

# tuple of strings
tup3 = ("hi", "hello", "bye")

# tuple of int, float, string
tup4 = (1, 2.8, "Hello World")

# tuple of string and list
tup5 = ("Book", [1, 2, 3])

# tuples inside another tuple
# nested tuple
tup6 = ((2, 3, 4), (1, 2, "hi"))

In [16]:
# create an empty tuple
py_tuple = ()
print("A blank tuple:", py_tuple)
tup2
type(tup2)
len(tup2)
tup3
type(tup3)
tup4
tup5
tup6

A blank tuple: ()

((2, 3, 4), (1, 2, 'hi'))

In [35]:
# create a tuple without using round brackets
py_tuple = 33, 55, 77, 12
print(py_tuple)
type(py_tuple)
#print("A tuple set without parenthesis:", py_tuple, "type:", type(py_tuple))

(33, 55, 77, 12)

tuple

In [36]:
a,b,c,d = 1,2,3,4

In [37]:
a

1

In [38]:
py_tuple

(33, 55, 77, 12)

In [39]:
py_tuple[1]

55

In [40]:
l = [1,23]

In [41]:
l[1]=45

In [42]:
l

[1, 45]

In [45]:
list(py_tuple)

[33, 55, 77, 12]

In [17]:
py_tuple1=list(py_tuple)
py_tuple1
type(py_tuple1)
py_tuple1[0]=12
py_tuple1
tuple1=tuple(py_tuple1)
tuple1

IndexError: list assignment index out of range

In [58]:
# creating a tuple from a list
s = [33, 55 , 77]
print(s)
print(type(s))
py_tuple = tuple(s)
print(py_tuple)
print(type(py_tuple))

l = [1,3,6]
py_tuple = tuple(l)
py_tuple

[33, 55, 77]
<class 'list'>
(33, 55, 77)
<class 'tuple'>

(1, 3, 6)

In [68]:
t = (1,2,3,4)
type(t)
l = list(t)
l.append(5)
t = tuple(l)

In [64]:
t
type(t)
l

[1, 2, 3, 4, 5]

In [66]:
# creating a tuple from a list
a= tuple([33, 55 , 77,12])
print(type(a))
a

<class 'tuple'>

(33, 55, 77, 12)

In [67]:
a[2]

77

In [69]:
# A single element surrounded by parenthesis will create a string instead of a tuple
py_tuple = (22,)
type(py_tuple)

tuple

In [70]:
# You need to place a comma after the first element to create a tuple of size "one"
py_tuple = ('single',)
print(py_tuple)
type(py_tuple)

('single',)

tuple

In [71]:
# You can use a list of one element and convert it to a tuple
py_tuple = tuple(['single'])
print(type(py_tuple))
print(py_tuple)

<class 'tuple'>
('single',)

In [74]:
# You can use a set of one element and convert it to a tuple
py_tuple = tuple({'single'})
type(py_tuple)
py_tuple

('single',)

In [ ]:
# accessing first element

# Via Indexing
# The simplest is the direct access method where you use the index operator
# [] to pick an item from the tuple. 
# You can start indexing from the 0th position.

In [ ]:
vowel_tuple = ('a','e','i','o','u')

print("The tuple:", vowel_tuple, "Length:", len(vowel_tuple))

# Indexing the first element
print("OP(vowel_tuple[0]):", vowel_tuple[0])

# Indexing the last element
print("OP(vowel_tuple[length-1]):", vowel_tuple[len(vowel_tuple) - 2])
vowel_tuple[-1]

In [ ]:
print("OP(vowel_tuple[length-1]):", vowel_tuple[len(vowel_tuple) +1])

In [ ]:
print(vowel_tuple[len(vowel_tuple)-1])

In [75]:
# Indexing a non-existent member
# will raise the IndexError
try:
    print(vowel_tuple[len(vowel_tuple)+1])
except Exception as ex:
    print("OP(vowel_tuple[length+1]) Error:", ex)

OP(vowel_tuple[length+1]) Error: name 'vowel_tuple' is not defined

In [ ]:
vowel_tuple[0.0]

In [ ]:
# Indexing in a tuple of tuples
t_o_t = (('jan', 'feb', 'mar'), ('sun', 'mon', 'wed'),(2,4,8,9))
print(t_o_t[1])

# Accessing elements from the first  tuple
print("OP(t_o_t[0][1]):", t_o_t[0:2])

# Accessing elements from the second sub tuple
print("OP(t_o_t[1][2]):", t_o_t[1][2])

In [ ]:
# Via Reverse Indexing

# The reverse indexing works in the following manner.
    # The index -1 represents the last item.
    # An index with value -2 will refer to the second item from the rear end.

In [ ]:
vowels = ('a','e','i','o','u')
vowels

print(vowels[-1])
print(vowels[-2])
print(vowels[-5])

In [ ]:
# Via Slicing Operator

In [ ]:
# If you need to access not one but more than one element from a tuple, 
# then Python’s slicing operator can come to use.

# The single colon, i.e., a “:” represents the slicing operator in Python.

In [78]:
weekdays = ('mon', 'tue', 'wed' ,'thu', 'fri', 'sat', 'sun')
weekdays

('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun')

In [79]:
# accessing elements leaving the first one
weekdays[1:]

('tue', 'wed', 'thu', 'fri', 'sat', 'sun')

In [80]:
# accessing elements between the first and fifth positions
# excluding the ones at the first and fifth position
weekdays[1:5]

('tue', 'wed', 'thu', 'fri')

In [81]:
# accessing elements after the fifth position
weekdays[5:]

('sat', 'sun')

In [82]:
weekdays

('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun')

In [83]:
# accessing elements that appears after
# counting five from the rear end
weekdays[1:-5]

('tue',)

In [84]:
weekdays[::-6]

('sun', 'mon')

In [85]:
# accessing five elements from the rear
weekdays[-5:-2]

('wed', 'thu', 'fri')

In [86]:
# accessing elements from the start to end
weekdays[:]

('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun')

In [87]:
# Similar to list and strings we can use negative indexes to access the tuple 
# elements from the end.
# -1 to access last element, -2 to access second last and so on.
my_data = (1, 2, "Kevin", 8.9)

# accessing last element
# prints 8.9
print(my_data[-1])

# prints 2
print(my_data[-3])

8.9
2

In [18]:
# Accessing elements from nested tuples
my_data = (1, "Steve", (11, 22, 33))


print(my_data[1][3])

print(my_data[2][1])

v
22

In [19]:
# changing the tuple element
my_data = (1, [9, 8, 7], "World")
print(my_data)


print(my_data[1])
my_data[1][0] = 101

my_data

(1, [9, 8, 7], 'World')
[9, 8, 7]

(1, [101, 8, 7], 'World')

In [20]:
# changing the tuple element, which are mutable
world = "NEW"
my_data = (1, [9, 8, 7], "BLUE",world)
print(my_data)

# changing the element of the list
# this is valid because list is mutable
world= "Happy"
#my_data[2] = "RED"
#my_data[0]= 10
my_data = (1, [9, 8, 7], world)
my_data[1][1]=10
print(my_data)

(1, [9, 8, 7], 'BLUE', 'NEW')
(1, [9, 10, 7], 'Happy')

In [21]:
# deleting tuple elements
my_data = (1, 2, 3, 4, 5, 6,"ABC")
print(my_data)

# not possible
# error
#del my_data[2]

# deleting entire tuple is possible
del my_data

(1, 2, 3, 4, 5, 6, 'ABC')

In [ ]:
my_data

In [ ]:
# Slicing operation in tuples
my_data = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(my_data)

# elements from 3rd to 5th
# prints (33, 44, 55)
print(my_data[2:5])

# elements from start to 4th
# prints (11, 22, 33, 44)
print(my_data[:4])

# elements from 5th to end
# prints (55, 66, 77, 88, 99)
print(my_data[4:])

# elements from 5th to second last
# prints (55, 66, 77, 88)
print(my_data[4:-1])

# displaying entire tuple
print(my_data[:])

In [ ]:
# Membership Test in Tuples
# in: Checks whether an element exists in the specified tuple.
# not in: Checks whether an element does not exist in the specified tuple.
my_data = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(my_data)

# true
print(22 in my_data)

# false
print(2 in my_data)

# false
print(88 not in my_data)

# true
print(101 not in my_data)

In [ ]:
# Iterating a tuple
# tuple of fruits
my_tuple = ("Apple", "Orange", "Grapes", "Banana")

# iterating over tuple elements
for fruit in my_tuple:
     print(fruit)

In [ ]:
# tuple methods
my_tuple = ('a','p','p','l','e','p')

# Count
print(my_tuple.count('p'))

# Index
print(my_tuple.index('p'))

In [ ]:
# How Can You Delete A Tuple
py_tuple = (['p','a'], 'y', 't', 'h', 'o', 'n')
#a =list (py_tuple)
#print(a)

del py_tuple[0][1]

In [ ]:
py_tuple

In [ ]:
del py_tuple[0]

In [ ]:
py_tuple = ('p', 'y', 't', 'h', 'o', 'n')

# you can't delete a particular item from a tuple
try:
    del py_tuple[0]
except Exception as abc:
    print(abc)

In [ ]:
# but you can delete a whole tuple
del py_tuple
try:
    print(py_tuple)
except Exception as ex:
    print("print(py_tuple) => Error:", ex)

In [ ]:
l = [1,(2,3),4]
l[1]

In [ ]:
l[1]=8
l

In [ ]:
l[1][0]= 2